
<!DOCTYPE html>
<html>
  <head>
    <title>StudioReservingSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="headder">
      <h2><%= link_to("京都産業大学 軽音楽部ポータル", "/") %></h2>
      <% current_user = User.find_by(id:session[:user_number]) %>
      <% if @current_user %>
        <p>
          <%= "こんにちは！#{@current_user.name}さん" %>
          <%= link_to("[編集]", "/edit") %>
        </p>
      <% end %>
      <p>
        <%= link_to("どんなアプリ？", "/about") %>
        <%= link_to("新規登録", "/new") %>
        <%= link_to("ログイン", "/login") %>
        <%= link_to("管理者", "/admin") %>
        <%= link_to("ログアウト", "/logout") %>
      </p>
    </div>
    <div class="notice">
      <p><%= flash[:notice] %></p>
    </div>
    <% if @error %>
    <p class="error"><%= @error %></p>
    <% end %>
    
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>